@model NetCoreWebsite.Data.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxFailedCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxFailedCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastSuccesfullLogin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastSuccesfullLogin)
        </dd>
        <dt>
            Failed count
        </dt>
        <dd>
            @Model.LoginLogs.Where(i => i.Successfull == false &&  i.Date > Model.LastSuccesfullLogin).Count()
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LoginLogs.FirstOrDefault().Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoginLogs.FirstOrDefault().Successfull)
                </th>
                <th>
                    @Html.DisplayFor(model => model.LoginLogs.FirstOrDefault().Step)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.LoginLogs.OrderByDescending(i=> i.Date))
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => log.Date)
                </td>
                <td>
                    @Html.DisplayFor(model => log.Successfull)
                </td>
                <td>
                    @Html.DisplayFor(model => log.Step)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
