@model IEnumerable<Software.Security.Database.Models.Message>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var message in Model)
    {
        <div class="col-sm-6">
            <div class="card" id="@message.MessageId">
                <div class="card-body">
                    @*<h5 class="card-title">Special title</h5>*@
                    <p class="card-text"> @message.Text </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    <button onclick="editModal(@message.MessageId)">Edit</button>
                    @Html.ActionLink("Add access", "Create", "AllowedMessage", new { id = message.MessageId }, new { @class="btn btn-primary"})
                    @Html.ActionLink("Remove access", "Delete", "AllowedMessage", new { id = message.MessageId }, new { @class = "btn btn-primary" })
                </div>
                <div class="card-footer text-muted">
                    @message.Modified
                </div>
            </div>
        </div>
    }
</div>
