@model IEnumerable<NetCoreWebsite.Data.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.Owner.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.UserName)
            </td>
            <td>
                @if ( User?.Identity?.Name != null && User.Identity.Name.Equals(item.Owner.UserName))
                {
                    <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
                }
                else
                {
                    <a asp-action="EditMessage" asp-route-id="@item.MessageId">Edit</a>
                }
                <a asp-action="Details" asp-route-id="@item.MessageId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
